DISCORD_BOT_TOKEN=something
DISCORD_BOT_CLIENT_ID=something
APP_GUILD_ID=123456789012345678
APP_FOXHOLE_VERSION=naval-57
APP_CATALOG_VERSION=v1
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=bot
RABBITMQ_DEFAULT_PASS=bot
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=bot
POSTGRES_PASSWORD=bot
POSTGRES_DB=logi
POSTGRES_SCHEMA=app
POSTGRES_MIGRATE=false